<md-card class="login-card center">
  <md-card-header class="center">
    <md-card-title class="title">Please Login to continue</md-card-title>
  </md-card-header>
  <md-card-content class="center">
    <button color="primary" md-raised-button (click)="loginGoogle()">Login with Google</button><br><br>
    <button color="primary" md-raised-button routerLink="/login-email"><md-icon color="accent">email</md-icon>Login with Email</button>
    <br><br>
    <a routerLink="/signup" class="alc"><strong>Signup Here</strong></a>
  </md-card-content>
</md-card>