<div class="card white">
  <div class="card-content black-text">
    <span class="card-title center">Login</span>
          <button (click)="loginGoogle()" class="waves-effect waves-light btn">Login With Google</button><br>
          <button routerLink="/login-email" class="waves-effect waves-light btn"><i class="material-icons left">email</i>Login With Email</button>
          <a routerLink="/signup" class="alc"><strong>Sign up here</strong></a>
  </div>
</div>

<md-card class="login-card">
  <md-card-header>
    <md-card-title>Welcome To mNotes</md-card-title>
  </md-card-header>
</md-card>